<header>
  <div class="row">
  <div class="col-1">
    <h1 class="header-site-title">
      &lambda;
    </h1>
    <p class="header-site-tagline">
      {% case page.type %}
        {% when 'index' %}
          ls {{ site.title }}/{{ page.slug }}/
        {% when 'single' %}
          less {{ page.date|date: "%Y-%m-%d" }}{{ page.ext_display}}
        {% when 'about' %}
          whoami
        {% else %}
          {{ site.title }}/{{ page.title }}
      {% endcase %}
    </p>      
  </div>

  <div class="col-2">
    {% include nav.html %}
  </div>
</div>
</header>
