<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/stylesheets/site.css"/>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
  <div class="header">
    <h1 class="header-site-title">
      $
      {% case page.type %}
        {% when 'index' %}
          ls {{ site.title }}/{{ page.slug }}/
        {% when 'single' %}
          less {{ page.date|date: "%Y-%m-%d" }}{{ page.ext_display}}
        {% when 'about' %}
          whoami
        {% else %}
          {{ site.title }}/{{ page.title }}
      {% endcase %}
      
    </h1>
    <span class="header-site-tagline">
      {% case page.type %}
        {% when 'index' %}
          List directory contents
        {% when 'single' %}
          Read log
        {% when 'about' %}
          24601
        {% else %}
          {{ site.tagline }}
      {% endcase %}
    </span>
  </div>
</header>



