<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{ site.url }}/assets/stylesheets/site.css"/>
  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<header>
  <div class="header">
    <h1 class="header-site-title">
      {{ site.title }}/{{ page.slug }}/{% if page.layout == 'post' %}{{ page.date }}{% endif %}
    </h1>
    <span class="header-site-tagline">{{ site.tagline }}</span>
  </div>
</header>



