.blog-index {
    list-style-type: none;
    padding-left: 0;
}

.blog-row {
    border-bottom: solid #eee 1px;
}

.blog-info {
    font-family: 'Anonymous Pro', sans-serif;
    padding: 37px 5px 0px;
}

.blog-date {
    color: #9EA5A8;
    font-size: 10pt;
    font-family: 'Anonymous Pro', sans-serif;
}

.blog-title {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #03C03C;
    text-transform: uppercase;
}

.blog-content {
    margin: 0;
    padding: 10px 0px;
    font-family: 'Open Sans', sans-serif;
    border: solid 1px transparent;
    color: #424242;
}

.blog-content p a {
    color: #557aaa;
    text-decoration: none;
    font-weight: bold;
}

.blog-content p a:hover {
    color: #e6b173;
}

.blog-tag-list {
    list-style: none;
    padding-left: 0;
}

.blog-tag-list-item {
    display: inline-block;
}

.blog-tag-list-item-link {
    display: block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 8pt;
    background: #f0f0f0;
    color: #bbb;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
}

.blog-tag-list-item-link:hover {
    background: #ccc;
    color: #efefef;
}

.blog-post-metadata {
    margin: 0;
}
