.blog-index {
    list-style-type: none;
    padding-left: 0;
}

.blog-index-row {
    border-bottom: #ddd solid 1px;
}

.blog-index-date {
    color: #9EA5A8;
    font-size: 10pt;
}

.blog-index-info {
    background: #eee;
    margin: 0;
    padding: 10px 5px;
    border-bottom: solid 2px #ddd;
}

.blog-index-title {
    text-decoration: none;
}

.blog-index-excerpt {
    margin: 0;
    padding: 10px 25px;
    background: #fff;
}
