.blog-index {
    list-style-type: none;
    padding-left: 0;
}

.blog-row {
    border-bottom: solid #eee 1px;
}

.blog-info {
    padding: 37px 5px 0px;
}

.blog-info ul {
    list-style: none;
    padding-left: 0;
}

.blog-info li {
    display: inline-block;
}

.blog-date {
    color: #9EA5A8;
    font-size: 10pt;
    font-family: 'Anonymous Pro', sans-serif;
}

.blog-title {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #bf6060;
}

.blog-title:hover {
    color: #cc8f8f;
}

.blog-content {
    margin: 0;
    padding: 10px 0px;
    font-family: 'Open Sans', sans-serif;
    border: solid 1px transparent;
    color: #424242;
}

.blog-content p a {
    color: #557aaa;
    text-decoration: none;
}

.blog-content p a:hover {
    color: #e6b173;
}

.blog-tag {
    display: block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 8pt;
    background: #eee;
    color: #bbb;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
}