.header {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 0px 30px;
    font-family: 'Anonymous Pro', sans-serif;
    background: #404040;
}

.header-site-link {
    text-decoration: none;
}

.header-site-title {
    color: #777;
    display: inline;
    font-size: 18pt;
}

.header-site-logo {
    display: inline;
    color: #5cb85c;
    text-shadow: 1px 1px #000;
    font-size: 24pt;
}

.header-site-tagline {
    display: inline;
    color: #ccc;
    font-size: 14pt;
    font-family: 'Anonymous Pro', sans-serif;
}
