.header {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
    font-family: 'Anonymous Pro', sans-serif;
}

.header-site-title {
    color: #5cb85c;
    text-shadow: 1px 1px #333;
}

.header-site-tagline {
    color: #ddd;
}