.center {
    margin: 0 auto;
    width: 700px;
}

.row {
    border-bottom: solid #d0d0d0 2px;
    border-left: solid #dadada 2px;
    border-right: solid #d0d0d0 2px;
    border-radius: 2px;
}

.col-1 {
    width: 15%;
    display: block;
    float: left;
}

.col-2 {
    width: 85%;
    display: block;
    float: left;
}

.align-right {
    text-align: right;
}

.col-1-padding {
    padding-top: 10px;
}