.center {
    margin: 0 auto;
    width: 650px;
}

.row {
    clear: both;
    border-bottom: solid #eee 1px;
}

.col-1 {
    width: 15%;
    display: block;
    float: left;
}

.col-2 {
    width: 85%;
    display: block;
    float: left;
}

.align-right {
    text-align: right;
}

.col-1-padding {
    padding-top: 10px;
}