.center {
    margin: 0 auto;
    width: 650px;
}

.row {
    display: block;
    clear: both;
}

.col-lg-1 {
    display: inline-block;
    width: 49%;
}

.col-lg-2 {
    display: inline-block;
    width: 49%;
}

.col-1 {
    width: 15%;
    display: inline-block;
}

.col-2 {
    width: 80%;
    display: inline-block;
}

.align-right {
    text-align: right;
}

.align-top {
    vertical-align: top;
}

.col-1-padding {
    padding-top: 10px;
}

.inline { display: inline-block; }
