/* Mobile */

@media only screen and (max-device-width: 480px) {
/* Layout */
  .center {
      width: 100%;
  }
  .col-lg-1,
  .col-lg-2,
  .col-1,
  .col-2 {
      display: block;
      width: 100%;
  }
  .header {
	  text-align: center;
  }
  
/* Blog */
.blog-row {
	padding: 10px;
}

/* Navigation */
  .nav {
      text-align: center;
  }
  .nav ul li {
	  display: block;
	  padding: 0;
  }
  .nav-item {
	  padding: 10px 0;
	  width: 100%;
  }
  .nav-item:hover {
	  border: 0;
  }
  .nav-item-active {
      border: 0;
  }
}
