.nav-ul {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 25px;
}

.nav-ul li {
    display: inline;
}

.nav-item {
    display: inline-block;
    color: #dfdfdf;
    text-decoration: none;
    font-family: "Anonymous Pro", sans-serif;
    text-transform: lowercase;
    border-left: solid 5px transparent;
    padding: 5px 15px;
}

.nav-item:hover {
    color: #fdfdfd;
    border-left: solid 5px #c5cc8f;
}

.nav-item-active {
    color: #fff;
    border-left: solid 5px #7e8073;
}

