---
layout: default
---

<article>
  <div class="blog-row">
    <div class="row">

      <div class="blog-content">
        <header>
          <p><time class="blog-date" pubdate="pubdate">{{ page.date|date: "%A, %d %B in %Y" }}</time></p>
          {% if page.type == 'single' %}
            {% assign tags = page.tags %}
            {% include tag_list.html %}
          {% endif %}
          <h1 class="blog-title">{{ page.title }}</h1>
        </header>

        {{ content }}
      </div>

    </div>
  </div>
</article>
